@{
    ViewData["Title"] = "Weather Data";
}
<h2>Weather data</h2>
<p>Hello, the weather database is seeded with:</p>
<li>
    @ViewData["Path"]
</li>
<form asp-controller="WeatherData" asp-action="IndexSMHI">
    <p>
        Use SMHI api, type city: <input type="search" name="cityName" />
        <input type="submit" value="Set" onclick="defChart()" />
    </p>
</form>

<p>
    Available cities:
</p>
<li>Stockholm</li>
<li>Gothenburg</li>
<li>Visby</li>
<p>Right now set to @ViewData["ChartJsonSource"]</p>

<script>
    function defChart() {
        var jsonSource = "@ViewData["ChartJsonSource"]"
        plotChart(jsonSource)
    }
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Weather data.
    </p>
</figure>


<script>
    function plotChart(source) {
        $.getJSON(source, function (data) {
            var Dates = []
            var Values = []
            for (var i = 0; i < data.length; i++) {
                Dates.push(data[i].date);
                Values.push(data[i].value);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Temperature'
                },
                subtitle: {
                    text: 'Source: ' + source
                },
                xAxis: {
                    categories: Dates
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    }
                },
                plotOptions: {
                    line: {

                        dataLabels: {
                            enabled: false
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    name: '@ViewData["Path"]',
                    data: Values
                }]
            });
        })
        @*document.getElementById('tempchart').innerHTML = @ViewData["ChartJsonSource"];*@
    }

</script>